<a href="https://colab.research.google.com/github/hoangnhutsp/CS114.K21/blob/master/LAB_07_Predicting_House_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import thư viện

In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib as plt

from sklearn.model_selection import train_test_split
from sklearn import preprocessing

# upload dataset

In [27]:

from google.colab import files
uploaded = files.upload()

Saving house.zip to house (1).zip

In [6]:
!unzip -q "/content/house.zip"

replace housing.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A

# Đọc bộ dữ liệu

In [9]:
housing = pd.read_csv('housing.csv')

# Chia bộ dữ liệu thành test và train

In [10]:
train,test = train_test_split(housing,test_size=0.20,random_state=42)

In [11]:
train.head()

       longitude  latitude  ...  median_house_value  ocean_proximity
14196    -117.03     32.71  ...            103000.0       NEAR OCEAN
8267     -118.16     33.77  ...            382100.0       NEAR OCEAN
17445    -120.48     34.66  ...            172600.0       NEAR OCEAN
14265    -117.11     32.69  ...             93400.0       NEAR OCEAN
2271     -119.80     36.78  ...             96500.0           INLAND

[5 rows x 10 columns]

# Xử lý dữ liệu train.

In [12]:
train = train.drop('ocean_proximity',axis=1)
test = test.drop('ocean_proximity',axis=1)

train.head()

       longitude  latitude  ...  median_income  median_house_value
14196    -117.03     32.71  ...         3.2596            103000.0
8267     -118.16     33.77  ...         3.8125            382100.0
17445    -120.48     34.66  ...         4.1563            172600.0
14265    -117.11     32.69  ...         1.9425             93400.0
2271     -119.80     36.78  ...         3.5542             96500.0

[5 rows x 9 columns]

In [13]:
x_train = train.drop('median_house_value',axis=1)

In [14]:
y_train = train.median_house_value

In [ ]:
x_train.head()

In [16]:
y_train.head()

14196    103000.0
8267     382100.0
17445    172600.0
14265     93400.0
2271      96500.0
Name: median_house_value, dtype: float64

# Load model Linear Regression cho quá trình xử lý.

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
model = LinearRegression()

# Xử lý bộ dữ liệu train

In [21]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
x_test = test.drop('median_house_value',axis=1)

# Xử lý bộ dữ liệu test

In [23]:
print(x_test.isnull().sum())

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
dtype: int64

In [24]:
x_test['total_bedrooms'] = x_test['total_bedrooms'].fillna(x_test['total_bedrooms'].mean())
print(x_test.isnull().sum())

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

# Kiểm tra bộ dữ liệu test

In [25]:
model.predict(x_test)

array([ 75389.70478454, 165997.70776523, 264726.30773355, ...,
       439178.19697501, 130408.85287046, 175272.25192552])

In [26]:
model.score(x_test,test.median_house_value)

0.6143987542202668

Kết quả chính xác 61%